@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.news-card {
  display: grid;
  margin-bottom: 3rem;
  grid-template-columns: 10rem 1fr;

  &__number {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    color: v.$grayish-blue;
  }

  &__link {
    display: inline-block;
    margin-bottom: 1.5rem;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid;
    }
  }

  &__headline {
    font-size: 1.6rem;
    font-weight: 800;
    color: v.$very-dark-blue;
  }

  &__content {
    padding-left: 2rem;
  }

  @include m.breakpoint-lg() {
    flex: 1;
  }
}
