@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.news-lead {
  &__picture {
    grid-area: lead-img;
    display: inline-block;
  }

  &__title {
    grid-area: lead-title;
    font-size: 3.5rem;
    font-weight: 800;

    @include m.breakpoint-lg() {
      font-size: 4.5rem;
    }
  }

  &__introduction {
    grid-area: lead-introduction;
    color: v.$dark-grayish-blue;
    line-height: 1.7;
  }

  &__read-more {
    grid-area: lead-read-more;
    align-self: end;
    display: inline-block;
    padding: 1rem 4rem;
    max-width: fit-content;
    max-height: fit-content;
    color: v.$off-white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: v.$soft-red;
    letter-spacing: 2px;
  }

  @include m.breakpoint-lg() {
    display: grid;
    grid-template-areas:
      'lead-img lead-img'
      'lead-title lead-introduction'
      'lead-title lead-read-more';
    grid-area: lead;
  }
}
