@use '../abstracts/mixins' as m;

.news-logo {
  flex: 1;

  &:focus-visible {
    max-width: fit-content;
  }

  &__img {
    max-width: 5rem;

    @include m.breakpoint-md() {
      max-width: initial;
    }
  }
}
