@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.news-nav {
  display: flex;
  align-items: center;

  &__hamburger-button {
    display: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__link {
    display: inline-block;
    padding: 1rem 0;
    width: 100%;
    color: v.$very-dark-blue;
    text-decoration: none;
  }
}

// a11y
.js .news-nav {
  &__ul {
    display: none;
    z-index: 2;
    flex: 1;

    @include m.breakpoint-md() {
      display: flex;
      justify-content: flex-end;
      column-gap: 4rem;
      list-style-type: none;
    }

    &.is-active {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      margin-top: 0;
      padding-top: 13.5rem;
      padding-left: 2.5rem;
      min-width: 25rem;
      min-height: 100vh;
      background-color: v.$white;
      list-style-type: none;
    }
  }

  &__hamburger-button {
    display: block;
    width: 40px;
    height: 17px;
    background: url('../img/icon-menu.svg') no-repeat;
    border: none;
    cursor: pointer;
    z-index: 3;

    &-text {
      position: absolute;
      clip: rect(1px, 1px, 1px 1px);
      padding: 0;
      width: 1px;
      height: 1px;
      border: 0;
      overflow: hidden;
    }

    &--is-active {
      width: 32px;
      height: 31px;
      background-image: url('../img/icon-menu-close.svg');
    }

    @include m.breakpoint-md() {
      display: none;
    }
  }

  @include m.breakpoint-md() {
    flex: 1;
  }
}
